* {
    margin: 0;
    padding: 0;
}

body{
    /* font-family: sans-serif; */
    min-height: 100vh;
}

input {
    margin-top: 15px;
    height: 30px;
    width: 170px;
    border-radius: 5px;
}

.container{
    width: 70%;
    margin: 0 auto;
    background-color: #ccc;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.form{
    margin-left: 20px;
    /* justify-content: start; */
}

#random{
    height: 40px;
    width: 170px;
    margin-right: 20px;
}

.border{
    height: 50px;
}

.grid{
    display: grid;
    grid-template-columns: 33% 30% 30%;
    justify-content: center;
    align-items: center;
}

.post{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    background-color: #aaa;
    width: 200px;
    height: 200px;
}